
#top {
    position: relative;
    /*background:url('../images/nav.png') no-repeat scroll left bottom transparent;*/
    background-color: #c2dfef;
    /*color: white;*/
    padding: 3px;
   /* margin: 0px 0px 10px 0px;*/
       border-radius: 2px 2px 2px 2px;
}

#top1 {
    position: relative;
    /*background:url('../images/nav.png') no-repeat scroll left bottom transparent;*/
    background-color: #E5EEF0;
    /*color: white;*/
    font-size: 18px;
    padding: 3px;
   /* margin: 0px 0px 10px 0px;*/
       border-radius: 2px 2px 2px 2px;
}

#top2 {
    position: relative;
    /*background:url('../images/nav.png') no-repeat scroll left bottom transparent;*/
    background-color: #ece3a5;
    /*color: white;*/
    padding: 3px;
   /* margin: 0px 0px 10px 0px;*/
       border-radius: 2px 2px 2px 2px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 220px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #aab1a9;
    padding: 1px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
